@using Microsoft.AspNetCore.Identity
@using Dealership.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-links">
                <a>Hello, @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-links">
                <button class="logout-btn" type="submit">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">      
        <li class="nav-links"><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
