@{
    ViewBag.Title = "Thank you!";
}

<h2 id="sellCarHeading">Thank you for choosing our dealership</h2>
<h3 id="sellCarHeading">Our dealer will call you as soon as possible with an offer</h3>
<a asp-area="" asp-controller="Car" asp-action="AllCars">Click here to go to Home page</a>
