body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a.nav-brand{
    border-radius: 5px;
    color: white;
}

li.nav-links a{
    border-radius: 5px;
    font-size: 1.1em;
    color: white;
}

a.nav-brand:hover {
    background-color: white;
    color: dodgerblue;
}

li.nav-links a:hover {
    background-color: white;
    color: dodgerblue;
}

/*
    Sell Car CSS
*/

#sellCarHeading{
    text-align: center;
    font-size: 3em;
    padding: 25px 0;
}

.createForm{
    text-align: center;
    margin: auto;
}

.create-car-labels{
    font-size: 1.3em;
    padding: 3px 0;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}