body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-toggle{
    color: white;
}

/* Admin Btns */

.admin-btns{
    margin-right: 20px;
}

/* Admin Btns*/

/* Header */

#create-admin{
    margin-right: 15px;
}

.overlay {
    background-color: rgb(37, 37, 41);
    opacity: 0.90;
    padding: 100px 0 155px 0;
}

.sub-banner {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background: url(../images/heading-image.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
    visibility: inherit;
    width: 100%;
    height: auto;
    opacity: 1;
}

.breadcrumb-area {
    text-align: center;
    max-width: 620px;
    height: auto;
    margin: 0 auto;
}

.breadcrumb-area h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 20px;
}

/* Header */

/* Search */

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.form-group{
    margin-top:5px;
    margin-bottom:10px;
}

.form-wrapper input {
    background: #eee;
    border: 0;
    border-radius: 3px 0 0 3px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    width: 330px;
    height: 35px;
    padding: 10px 5px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    outline: 0;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    font-weight: normal;
    font-style: italic;
    color: #999;
}

.form-wrapper input:-moz-placeholder {
    font-weight: normal;
    font-style: italic;
    color: #999;
}

.form-wrapper input:-ms-input-placeholder {
    font-weight: normal;
    font-style: italic;
    color: #999;
}

.form-wrapper button {
    background: #FFB400;
    border: 0;
    border-radius: 0 3px 3px 0;
    overflow: visible;
    position: relative;
    float: right;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    cursor: pointer;
    height: 35px;
    width: 110px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
    padding: 0;
    margin: 5px 0 0 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.form-wrapper button:hover {
    background: #ffca4c;
}

.form-wrapper button:active,
.form-wrapper button:focus {
    background: #ffca4c;
}

.form-wrapper button:before {
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #FFB400 transparent;
    content: '';
    position: absolute;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before {
    border-right-color: #ffca4c;
}

.form-wrapper button:focus:before {
    border-right-color: #FFB400;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.byline p {
    text-align: center;
    font: bold 18px Arial, Helvetica, Sans-serif;
    text-shadow: 0 2px 3px rgba(0,0,0,0.1);
    color: #ffca4c;
}

.byline p a {
    color: #ffca4c;
    text-decoration: none;
}

/* Search */

/* All Cars */

.car-box {
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0 0 30px 0;
}

.car-box:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}

.car-box-thumbnail {
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 225px;
}

.car-box img {
    width: 100%;
    height: auto;
}

ul.facilities-list.clearfix {
    padding-left: 0;
}

.title {
    font-size: 20px;
}

.is-featured {
    background: #ffb400;
}

.is-featured {
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.9s ease-in-out;
    font-size: 10px;
    top: 10px;
    left: 10px;
    color: #fff;
    position: absolute;
    padding: 6px 10px 5px 10px;
}

.carbox-overlap-wrapper {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    visibility: hidden;
    z-index: 999;
    color: #FFF;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 60px 25px 25px;
}

.car-box .detail header h5 a {
    color: #ffb400;
}

.car-box .detail header .custom-list li a {
    text-decoration: none;
    color: #5a5959;
}

.car-box .detail header {
    border-bottom: 1px solid #ededed;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.car-box .detail .facilities-list li i {
    color: #ffb400;
}

.car-box .detail .facilities-list li i {
    font-size: 15px;
    font-weight: 500;
    margin-right: 5px;
}

.car-box .detail .facilities-list li {
    float: left;
    font-size: 11px;
    font-weight: 600;
    list-style: none;
    width: 33%;
    margin-bottom: 15px;
}

.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857143;
    transition: border .2s ease-in-out;
    padding: 4px;
    margin-bottom: 20px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
}

/* All Cars */

/* Details Page */

.heading-car p {
    margin-bottom: 0;
}

.p-r {
    float: right;
    text-align: right;
}

.heading-car h3 {
    font-weight: 600;
    color: #37404d;
    margin: 0 0 10px;
}

.heading-car p {
    margin-bottom: 0;
}

.p-r i {
    color: #ffc12b;
}

.single-block {
    margin-bottom: 50px;
}

.sidebar-widget .title {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #37404d;
    margin: 0 0 25px;
}

.car-details-sidebar ul {
    padding: 0;
    margin: 0;
}

.car-details-sidebar ul li {
    border-bottom: 1px dotted #DDD;
    text-align: right;
    list-style: none;
    line-height: 30px;
    color: #787878;
    padding: 5px 0;
}

.car-details-sidebar ul span {
    font-weight: 600;
    float: left;
    color: #474646;
}

.details-btns{
    padding-bottom: 15px;
}

/* Details Page */

/* Details Page Images */

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    margin-bottom: 15px;
}

.details-img {
    width: auto;
    height: 150px;    
}

.details-img:hover{
    transform: scale(1.3);
    transition: ease .3s;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/* Details Page Images */

/* Create Admin */

.create-admin{
    padding: 0 25px 25px 25px;
}

/* Create Admin */

/* All Users */

.all-users {
    clear: both;
    color: #34D1BE;
    padding-left: 30px;
}

.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    padding: 20px;
}

.table thead > tr > th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table thead > tr > th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.all-users-heading{
    font-size: 20px;
}

.user-info {
    font-size: 17px;
    color: #2bb6a3;
    padding-left: 10px;
    padding-top: 20px;
}

.fa-inverse {
    color: #ffffff;
}

.fa-stack-1x {
    line-height: inherit;
}

.user-actions-table{
    width: 20%;
}

.user-actions {
    padding: 20px 20px 0 0;
}

.table a.table-link.default {
    color: #2bb6a3;
}

.table a.table-link.danger {
    color: #fe635f;
}

/* All Users */

/* User Details Page */

.details-info{
    padding-bottom: 20px;
}

/* User Details Page */

/* Details Buy Car Btn */

.details-buy-car-btn{
    padding-bottom: 25px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

a.nav-brand {
    border-radius: 5px;
    font-size: 1.1em;
    color: white;
}

li.nav-links a {
    border-radius: 5px;
    font-size: 1.1em;
    color: white;
    margin-bottom:5px;
}

a.nav-brand:hover {
    background-color: white;
    color: dodgerblue;
}

li.nav-links a:hover {
    background-color: white;
    color: dodgerblue;
}

/* Edit Page Images*/

.img-edit{
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
}

/* Edit Page Images*/

/* Search CSS */

.search {
    margin:4px
}

.search-btn {
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background-color: white;
    color: dodgerblue;
    padding: 7px 10px 7px 10px;
    margin-top:4px;
}

/* Search CSS */

/* Sell Car CSS */

#sellCarHeading {
    text-align: center;
    font-size: 3em;
    padding: 25px 0;
}

.createForm {
    text-align: center;
    margin: auto;
}

.create-car-labels {
    font-size: 1.3em;
    padding: 3px 0;
}

input[type=text], textarea {
    border: 1px solid #DDDDDD;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 0px 6px 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

input[type=text]:focus, textarea:focus {
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.sell-car-btn {
    font-size: 1.2em;
    padding: 5px 25px;
    margin: 25px auto;
}

/* Sell Car CSS */

/* All Cars CSS */

#manufacturer-all {
    padding-right: 5px;
}

.car-all:hover {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.all-img {
    width: 80%;
}

#car-all-headings {
    font-size: 1.7em;
}

#car-all-info {
    font-size: 1.2em;
}

#actions-car-all {
    display: flex;
}

.delete-car-all-btn {
    font-size: 1.1em;
    padding: 5px 20px;
}

.delete-car-all-btn:hover {
    box-shadow: 0px 0px 5px 1px rgba(255,0,0,1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255,0,0,1);
}

.edit-car-all-btn {
    font-size: 1.1em;
    padding: 5px 20px;
}

.edit-car-all-btn:hover {
    box-shadow: 0px 0px 5px 2px rgba(214,118,0,1);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(214,118,0,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(214,118,0,1);
}

.detail-car-all-btn {
    font-size: 1.1em;
    padding: 5px 20px;
}

.detail-car-all-btn:hover {
    box-shadow: 0px 0px 5px 2px rgba(49,245,0,1);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(49,245,0,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(49,245,0,1);
}

.car-all-price {
    background-color: #87CEFA;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px 15px;
}

/* All Cars CSS */

/* Details Page */

.details-page {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.2em;
    padding-top: 25px;
}

.details-page-description {
    text-align: center;
    font-size: 1.3em;
    padding: 30px 0;
}

.details-page-heading{
    padding-bottom: 25px;
}

.detail-info {
    font-weight: bold;
}

.details-img:hover {
    border: 1px solid dodgerblue;
}

.image-ctr{
    margin: 10px 0;
}

.image-edit{
    width: auto;
    height: 200px;
}

.no-comments{
    font-size: 1.3em;
}

.comment {
    border-radius: 15px;
    padding: 13px;
    margin-bottom: 15px;
    background-color:lightgray;
}

.comment:hover {
    background-color: lightblue;    
}

.author {
    font-size: 1.3em;
}

.authorName{
    font-weight: bold;
}

.content{
    font-size: 1.3em;
}

.reply{
    font-size: 1em;
    margin: 15px 0 15px 0;   
}

.reply-author/*, .reply-content*/ {
    font-weight: bold;
}

.reply-content{
    font-size: 0.9em;
}

.comment-form {
    background-color: lightblue;
    border-radius: 15px;
    padding: 15px;
}

.reply-form {
    margin-bottom: 20px;
}

/* Details Page */

/* Pagination Disabled Btns */

.disabled {
    cursor: default;
    pointer-events: none;
}

.disabled-pagination {
    background-color: dodgerblue;
    cursor: default;
    pointer-events: none;
}

/* Pagination Disabled Btns */

/* Logout Btn */

.logout-btn {
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    color: white;
    padding: 15px 15px 14px 15px;
}

.logout-btn:hover {
    background-color: white;
    color: dodgerblue;
}

/* Logout Btn */

/* Sort Cars */

.big {
    font-size: 1.2em;
}

.custom-dropdown {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-left: 5px;
    margin: 10px;
}

.custom-dropdown select {
    background-color: dodgerblue;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: inherit;
    text-indent: 0.01px;
    text-overflow: '';
    padding: .5em;
    padding-right: 2.5em;
    margin: 0;
    appearance: none;
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance: none;
    /*Hiding the select arrow default implementation*/
}

/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
    display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
    color: white;
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    font-size: .625em;
    color: white;
    line-height: 1;
    height: 1em;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    bottom: 0;
    border-radius: 0 3px 3px 0;
    color: white;
    width: 2em;
    right: 0;
    top: 0;
}

.custom-dropdown::after {
    color: white;
}

/* Sort Cars */

footer {
    text-align: center;
    font-size: 1.3em;
}

@media screen and (max-width: 350px) {
    .car-box-thumbnail {
        height: 165px;
    }

    .car-box img {
        height: 165px;
    }
}

@media screen and (min-width: 351px) and (max-width: 480px) {
    .car-box-thumbnail {
        height: 195px;
    }

    .car-box img {
        height: 195px;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {    
    .car-box-thumbnail {        
        height: 195px;
    }

    .car-box img {
        height: 195px;
    }
}

@media screen and (min-width: 601px) and (max-width: 650px) {
    .car-box-thumbnail {
        height: 195px;
    }

    .car-box img {
        height: 195px;
    }
}

@media screen and (min-width: 651px) and (max-width: 767px) {
    .car {
        display: flex;
        width: 50%;
    }

    .car-box-thumbnail {
        height: 195px;
    }

    .car-box img {
        height: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .car-box-thumbnail {
        height: 195px;
    }

    .car-box img {
        height: 195px;
    }
}

@media screen and (min-width: 1024px) {
    .car-box-thumbnail {
        height: 180px;
    }

    .car-box img {
        height: 180px;
    }
}

@media screen and (min-width: 1440px) {
    .car-box-thumbnail {
        height: 260px;
    }

    .car-box img {
        height: 260px;
    }
}

@media screen and (min-width: 2560px) {
    .car-box-thumbnail {
        height: 450px;
    }

    .car-box img{
        height: 100%;
    }
}   