@model AdminListingUsersModel

@{
    ViewData["Title"] = "All";
}

<p>@TempData["successRoleAdd"]</p>

<h1 class="text-center all-users col-lg-12 col-md-12 col-sm-12- col-xs-12">Users</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span class="all-users-heading">Email</span></th>
                                <th><span class="all-users-heading">Actions</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>
                                        <p class="user-info">@user.Email</p>
                                    </td>
                                    <td class="user-actions-table">
                                        <div class="user-actions">
                                            <a asp-controller="Account" asp-action="Details" asp-route-id="@user.Id" class="table-link default">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id" class="table-link danger">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>